<aside class="sidebar">
    <div class="sidebar-logo">
        <i class="fas fa-graduation-cap"></i> FORMAS
    </div>
    <nav class="nav-menu">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/students" class="nav-link">
                <i class="fas fa-user-graduate"></i> Estudiantes
            </a>
        </li>
        <li class="nav-item">
            <a href="/instructors" class="nav-link">
                <i class="fas fa-chalkboard-teacher"></i> Instructores
            </a>
        </li>
        <li class="nav-item">
            <a href="/courses" class="nav-link">
                <i class="fas fa-book"></i> Cursos
            </a>
        </li>
        <li class="nav-item">
            <a href="/groups" class="nav-link">
                <i class="fas fa-users"></i> Grupos
            </a>
        </li>
        <li class="nav-item">
            <a href="/enrollments" class="nav-link">
                <i class="fas fa-user-plus"></i> Matrículas
            </a>
        </li>
        <li class="nav-item">
            <a href="/grades" class="nav-link">
                <i class="fas fa-star"></i> Calificaciones
            </a>
        </li>
        <li class="nav-item" style="margin-top: 2rem;">
            <a href="/auth/logout" class="nav-link" style="color: #f87171;">
                <i class="fas fa-sign-out-alt"></i> Salir
            </a>
        </li>
    </nav>
</aside>
